@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    width:100vw;
    min-height:100vh;
    background: url('/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* Custom scrollbar styles */
* {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: transparent transparent; /* Firefox */
  }